:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-darkgray-blue: hsl(236, 13%, 42%);
  --color-dark-blue: hsl(240, 100%, 5%);
  --color-soft-red: hsl(5, 85%, 63%);

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;

  color-scheme: light dark;
  color: var(--color-darkgray-blue);
  background-color: var(--color-off-white);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


#app {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Navigation */
#navbar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.nav-item a {
  color: var(--color-darkgray-blue);
}

.nav-item a:hover, a:focus {
  color: var(--color-soft-red);
}

.nav-desktop {
  display: none;
}

.nav-mobile-btn {
  /* border: 1px solid red; */
  display: inline-block;
  padding: .5rem 1rem;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: block;
  }

  .nav-mobile {
    display: none;
  }
}

/* mobile Navigation */
#mobile-nav-items-wrapper {
  display: none;
}

.mobile-nav-items {
  background-color: var(--color-off-white);
  height: 100vh;
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.wrapper {
  position: relative;
}

.nav-mobile-btn {
  position: fixed;
  top: .5rem;
  right: 1rem;
}

.nav-items-mobile {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.nav-item-mobile {
  padding: 1rem;
}

.nav-item-mobile a {
  color: var(--color-dark-blue);
} 

@media (min-width: 678px) {
  #mobile-nav-items-wrapper {
    display: none;
  }
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}
/* Featured Content */
.featured-content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "image"
    "title"
    "content"
    "cta"
  ;
}

.featured-image {
  width: 100%;
  object-fit: contain;
  grid-area: image;
}

.featured-title {
  grid-area: title;
  font-size: 3rem; 
  line-height: 1.5;
  color: var(--color-dark-blue);
}

.featured-content {
  grid-area: content;
  font-size: 1.5rem;
  line-height: 1.4;
}

.featured-cta {
  grid-area: cta;
  display: inline-block;
  color: var(--color-off-white);
  background-color: var(--color-soft-red);
  padding: .5rem 1rem;
  text-align: center;
  width: 60%;
  margin-top: 1rem;
}

.featured-cta:hover {
  background-color: var(--color-dark-blue);
}


@media (min-width: 768px) {
  .featured-content {
    width: 65%;
    /* border: 1px solid magenta; */
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-areas:
      "image image image image"
      "title title text text"
      ". . cta . "
    ;
  
  }
  
  .featured-image {
    grid-area: image;
  }

  .featured-title {
    grid-area: title;
    font-size: 3.5rem; 
  }

  .featured-content {
    grid-area: text;
    font-size: 1.5rem;

  }

  .featured-cta {
    width: 80%;
  }
}

/* Side content section */
.side-content {
  background-color: var(--color-dark-blue);
  padding: 1rem 1.5rem;
}

.side-content-title {
  color: var(--color-soft-orange);
  font-size: 2rem;
}

@media (min-width: 768px) {
  .side-content {
    width: 30%;
    padding: 1rem 1.5rem;
  }
}

/* card Sidebar content */

.card-side-content {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-darkgray-blue);
}

.card-title-side-content {
  color: var(--color-off-white);
  font-size: 1.35rem;
}

.card-title-side-content:hover {
  color: var(--color-soft-orange);
  cursor: pointer;
}

.card-side-content:last-child {
  border-bottom: none;
}

/* Articles Sections */
.articles {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin: 3rem 0; 
}

@media (min-width: 768px) {
  .articles {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

/* Article card */

.articles-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image text text";
  gap: 1rem;
}

.articles-image {
  grid-area: image;
  object-fit: contain;
  width: 100%;
}

.articles-meta {
  grid-area: text;
}

.article-number {
  color: var(--color-darkgray-blue);
  font-size: 1.5rem;
  font-weight: bold;
}

.articles-meta-title {
  margin-top: 1.3rem;
  font-weight: bolder;
  color: var(--color-dark-blue);
}

.articles-meta-title:hover {
  color: var(--color-soft-red);
  cursor: pointer;
}